<html lang="en" dir="ltr">
    <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
      <p> city name: <%= cName  %></p>
      <p> confirmed number: <%= confirmed %></p>
      <p> recoverd number: <%= recoverd %></p>
      <p> deaths number: <%= deaths %></p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
